<div class="container">
  <h2>Design Input</h2>
  <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
    <label>Device Generic Name:</label>
    <textarea formControlName="deviceType" rows="2" cols="40" placeholder="Enter Generic Name"></textarea>
    <span *ngIf="isInvalid('deviceType')">Please enter at least 3 characters for Generic Name.</span>

    <!-- <label>Components:</label>
    <textarea formControlName="components" rows="2" cols="40" placeholder="List components"></textarea>
    <span *ngIf="isInvalid('components')">Please enter at least 3 characters for components.</span> -->

    <label>Intended Purpose:</label>
    <textarea formControlName="intendedPurpose" rows="2" cols="40" placeholder="Describe intended purpose"></textarea>
    <span *ngIf="isInvalid('intendedPurpose')">Please enter at least 5 characters for intended purpose.</span>

    <!-- <label>Intended Users:</label>
    <textarea formControlName="intendedUsers" rows="2" cols="40" placeholder="Who are the intended users?"></textarea>
    <span *ngIf="isInvalid('intendedUsers')">Please enter at least 3 characters for intended users.</span> -->

    <!-- <label>Risk Classification:</label>
    <select formControlName="riskClassification">
      <option value="">Select risk classification</option>
      <option value="Class I">Class I</option>
      <option value="Class II">Class II</option>
      <option value="Class III">Class III</option>
    </select>

    <div class="risk-submodule">
      <label>Risk Level:</label>
      <select formControlName="riskLevel">
        <option value="">Select risk level</option>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select>

      <label>Risk Region:</label>
      <select formControlName="riskRegion">
        <option value="">Select region</option>
        <option value="US">US</option>
        <option value="EU">EU</option>
        <option value="Asia">Asia</option>
      </select>
    </div> -->

    <div class="button-container btn-center">
      <button type="submit" [disabled]="deviceForm.invalid">Submit</button>
    </div>
  </form>

  <div class="response-container" *ngIf="responseSteps.length">
    <h2 class="title-center">Device Information Submission</h2>


    <div class="components-section">
      <h3>All Components</h3>
      <ul>
        <li *ngFor="let comp of allComponents; let i = index">
          <label>
            <input type="checkbox" [checked]="isSelected(comp)" (change)="onCheckboxChange($event, i)">
            {{ comp }}
          </label>
        </li>
      </ul>

    </div>

    <!-- <div class="recommended-section">
      <h3>Recommended Components</h3>
      <ol>
        <li *ngFor="let rec of recommendedComponents">{{ rec }}</li>
      </ol>
    </div> -->

    <div class="risk-info-section">
      <p>
        <strong>Risk Classification:</strong>
        <ng-container *ngIf="deviceForm.value.riskClassification">
          <ul>
            <li *ngFor="let item of deviceForm.value.riskClassification.split(',')">
              {{ item }}
            </li>
          </ul>
        </ng-container>
      </p>
    </div>
    <h3>Intended Users</h3>
    <div class="intended-users-section">
      <ul>
        <li *ngFor="let user of intendedUsers">{{ user }}</li>
      </ul>
    </div>
    <div *ngIf="alertMessage" [ngClass]="alertType" class="custom-alert">
      {{ alertMessage }}
    </div>
    <div style="display: flex; justify-content: center; gap: 1rem; margin: 1rem 0;">
      <button type="button" (click)="updateComponentsFromCheckedIndexes(allComponents)">Submit Components</button>
      <button type="button" class="rest-btn" (click)="resetArrays()">Reset</button>
      <button class="rest-btn" (click)="fetchJustifications()">Get Justifications</button>
    </div>


    <table class="justifications-table">
      <thead>
        <tr>
          <th>GSPR</th>
          <th>Justifications</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of justifications | keyvalue">
          <td><b>{{ entry.key }}</b></td>
          <td>
            <ul>
              <li *ngFor="let line of entry.value">{{ line }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="p-fluid" style="margin: 2rem auto">
      <div class="p-field">
        <label for="gsprNumber">GSPR Number</label>
        <input #gsprInput id="gsprNumber" type="number" pInputText placeholder="Enter GSPR Number" />
        <div class="button-group">
          <button pButton class="btn-main" type="button" label="Generate GSPR"
            (click)="generateGSPR(gsprInput.value)"></button>

          <button pButton class="btn-main" type="button" label="Back to Form" (click)="resetForm()"></button>
        </div>
      </div>

      <div *ngIf="generatedGsprItem" class="p-card mt-4">
        <h3>{{ generatedGsprItem.component }}</h3>
        <p><strong>GSPR #:</strong> {{ generatedGsprItem.gspr }}</p>
        <p><strong>Design Input:</strong> {{ generatedGsprItem.design_input }}</p>
        <p><strong>Applicability:</strong> {{ generatedGsprItem.applicability }}</p>
        <p><strong>Justification:</strong> {{ generatedGsprItem.justification }}</p>
        <p><strong>Requirements:</strong> {{ generatedGsprItem.requirements }}</p>
        <p><strong>Standards:</strong> {{ generatedGsprItem.standards }}</p>
      </div>
    </div>
  </div>
</div>
<router-outlet />